spacy~=3.5.4
jsonlines~=3.1.0
json~=2.0.9
torch~=2.0.1
torchvision~=0.15.2
PIL~=9.4.0
re~=2.2.1
omegaconf~=2.3.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.5.0/en_core_web_lg-3.5.0-py3-none-any.whl