attrs==23.1.0
jsonlines==3.1.0
olefile==0.46
Pillow==10.0.0
regex==2023.6.3
numpy==1.24.3
tensorflow==2.13.0
omegaconf==2.3.0
spacy==3.6.0
tqdm==4.65.0
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.6.0/en_core_web_lg-3.6.0-py3-none-any.whl
torch==1.13.1
torchvision==0.14.1
keras==2.13.1
torchtext==0.14.1
torchdata==0.5.1
torchcam==0.3.2
torchaudio==0.13.1